@font-face {
  font-family: 'KBH bold';
  src: url("../fonts/KBH/TTF/KBH-Bold.ttf");

}

body {
  /* overflow: hidden; */
  margin: 0;

}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;


}

.menuItems {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  background: linear-gradient(to right, rgb(0, 12, 46) 60%, #ffff 40%);
  font-family: "KBH bold";
}

.width {
  max-width: 250px;
  max-height: 250px;
  width: 100vw;
  height: 100vh;
  border-radius: 50%;
  border: 1px solid black;
  align-self: center;
  justify-self: center;
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: center;

}

h1 {
  align-self: center;
}

.instructions {
  grid-area: 1/2/ span 1/ span 1;
}

.videoIn {
  grid-area: 2/2/ span 1/ span 1;
}

/* bicycle background */

.bicycleContainer {
  border: 2px solid black;
  grid-area: 1/2/ span 1 / span 1;
  height: 100vh;
}

.bicycleBG {
  z-index: -1;
  grid-area: 1/2/span 1 / span 1;
  background-image: url("../Icons/BlÜ/4__Cykel_BlÜ_1.png");
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 100px;
  max-height: 100px;
  width: 100vw;
  height: 100vh;
  position: absolute;
}