@font-face {
  font-family: 'KBH bold';
  src: url("../fonts/KBH-Bold.ttf");

}

@font-face {
  font-family: 'KBH light';
  src: url("../fonts/KBH-Light.ttf");

}

body {
  overflow: hidden;
  color: rgb(0, 12, 46);
  display: flex;
  flex-direction: column;

}

.main {
  width: 70vw;
  display: flex;
  flex-direction: column;

  margin: 0 auto;

}

h1 {
  font-family: "KBH bold", sans-serif;
  font-size: 6vh;
  text-align: center;

}


p {

  justify-self: center;

  font-family: 'KBH light', sans-serif;
  font-size: 3vh;
}

ul {

  margin: 0 auto;
  margin-bottom: 3vh;

}

ul li {


  font-family: 'KBH light', sans-serif;
  font-size: 2vh;

}

iframe {
  outline-color: rgb(0, 12, 46);
  outline-style: groove;
  justify-self: center;
  height: 45vh;
}


.frise {
  margin-top: 3vh;
  margin-bottom: 0;
  padding: 0;

  background-image: url("../Icons/frise_blue.png");
  background-size: contain;
  background-repeat: repeat;
  width: 300vw;
  max-height: 7vh;
  height: 100vh;
  align-self: baseline;
  z-index: 1001;

  -webkit-animation: sliding 45s linear infinite forwards alternate;
  -moz-animation: sliding 45s linear infinite forwards alternate;
  -o-animation: sliding 45s linear infinite forwards alternate;
  animation: sliding 45s linear infinite forwards alternate;

}

@keyframes sliding {
  to {
    background-position: -99vw;
  }
}