@font-face {
  font-family: 'KBH bold';
  src: url("../fonts/KBH-Bold.ttf");

}

@font-face {
  font-family: 'KBH light';
  src: url("../fonts/KBH-Light.ttf");

}

body {
  overflow: hidden;
  /* margin: 0; */
  color: rgb(0, 12, 46);
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;

}

.main {
  width: 60vw;
  display: flex;
  flex-direction: column;

  margin: 0 auto;

}

h1 {
  font-family: "KBH bold", sans-serif;
  font-size: 3em;
  text-align: center;

}


p {

  justify-self: center;

  font-family: 'KBH light', sans-serif;
  font-size: 1.5em;
}

ul li {
  font-family: 'KBH light', sans-serif;
  font-size: 1em;

}

iframe {
  outline-color: rgb(0, 12, 46);
  outline-style: groove;
  justify-self: center;
  height: 45vh;
}